body {
  background: linear-gradient(to right, #92fe9d, #00c9ff);
  width: 100%;
  margin: 0;
  padding: 0;
}

.hide-div {
  display: none;
}

/* .whos-that {
  display: none;
} */
/*Pokemon head */

.div-head {
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: flex-start;
  padding-bottom: 50px;
}

#poke-logo {
  width: 150px;
  height: 50px;
  padding: 10px 0px;
  margin-top: 15px;
}

/* Images on all html pages  */
.pokemon-img {
  filter: brightness(0);
}

#poke-ball {
  display: flex;
  width: 200px;
  height: 400px;
  margin-right: 200px;
}
#whos-that {
  margin-left: 300px;
  padding-bottom: 10px;
  width: 40%;
  height: 20%;
}
/* button styling */
.button-div {
  padding-top: 20px;
}
div button {
  background-color: transparent;
  width: 210px;
  height: 100px;
  border: 2px solid #92fe9d;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffcc03;
  font-size: 28.8px;
  text-align: center;
  font-family: "Russo One", sans-serif;
  display: flex;
  color: white;
  cursor: pointer;
}
.answer1 {
  color: #ffcc03;
  font-family: "Russo One", sans-serif;
}
.answer2 {
  text-align: center;
  color: #ffcc03;
  font-family: "Russo One", sans-serif;
}
.answer3 {
  text-align: center;
  color: #ffcc03;
  font-family: "Russo One", sans-serif;
}
div button:hover {
  background-color: #92fe9d;
  color: white;
  cursor: pointer;
}
section {
  display: flex;
  justify-content: center;
}
.score-container {
  background-color: #ffcc03;
  text-align: center;
  font-family: "Russo One", sans-serif;
  margin-left: 20px;
  width: 100px;
  font-size: 28.8px;
  text-align: center;
  color: white;
  border-radius: 5px;
  height: 100px;
}
.score-container:hover {
  background-color: #00c9ff;
  color: white;
  cursor: pointer;
}
.reveal {
  filter: brightness(100%);
}

.pokeball {
  filter: brightness(100%);
}

.you-win {
  display: flex;
  width: 400px;
  height: 400px;
  margin-right: 50px;
}

.you-lose {
  width: 100px;
  height: 100px;
  margin-right: 50px;
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  #poke-logo {
    width: 100px;
    height: 50px;
    padding: 10px 10px;
    margin-top: 15px;
  }
  #whos-that {
    margin-left: 10px;
    padding-bottom: 10px;
    width: 90%;
  }

  #poke-ball {
    display: flex;
    margin-right: 110px;
    width: 90%;
    height: 90%;
    /* margin-left: 100px; */
  }
  /* #whos-that {
  margin-left: 300px;
  padding-bottom: 10px;
  width: 40%;
  height: 20%;
} */
  .div-head {
    padding-bottom: 20px;
  }
  div img {
    width: 150px;
    height: 150px;
    margin-right: 50px;
  }
  div button {
    width: 109px;
    height: 100px;
    font-size: 0.85em;
  }

  .score-container {
    margin-left: 20px;
    width: 100px;
    font-size: 1.5em;

    height: 90px;
  }
}

@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  #whos-that {
    margin-left: 100px;
  }
  #poke-ball {
    margin-right: 0px;
  }

  #whos-that {
    width: 70%;
  }

  section {
    margin-right: 0px;
  }

  div button {
    font-size: 1.5em;
  }
}
