body {
  background: linear-gradient(to right, #92fe9d, #00c9ff);
  width: 100%;
  margin: 0;
  padding: 0;
}

#main {
  min-height: 100vh;
}
/*Pokemon head */

.div-head {
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: flex-start;
}

#poke-logo {
  width: 150px;
  height: 50px;
  padding: 10px 0px;
  margin-top: 15px;
}

/* Front-pg - Images  */

.prof-img {
  height: 320px;
  width: 320px;
}
/* This is belongs to https://revaryk.wordpress.com/2017/01/12/why-professor-kukui-is-awesome/ */
.welcome-img {
  margin-left: 25%;
  margin-bottom: 70px;
  width: 600px;
  height: 72px;
  padding: 10px 10px;
}
/* These images were created with this website https://fontmeme.com/pokemon-font/ */
.greeting-img {
  width: 270px;
  height: 250px;
  margin-bottom: 50px;
}
.intro-img {
  width: 600px;
  height: 150px;
  margin-top: 200px;
  margin-left: 40px;
}
.button-div {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}
div button {
  background-color: transparent;
  width: 120px;
  height: 60px;
  font-size: 0.75em;
  border: 2px solid #92fe9d;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffcc03;
  font-size: large;
  font-family: "Russo One", sans-serif;
}

div button:hover {
  background-color: #92fe9d;
  color: white;
  cursor: pointer;
}

/* Game page styles  */

#pokemon-img {
  display: flex;
  justify-content: center;
}

.name {
  color: #ffcc03;
  font-size: 2em;
  font-family: "Russo One", sans-serif;
}

footer {
  background-color: #ffcc03;
  text-align: center;
  padding: 10px;
}
.rules {
  width: 150px;
  height: 100px;
  padding-bottom: 20px;
  margin-right: 20px;
}
.rules-div {
  display: flex;
  justify-content: center;
}

.rules-prompt {
  width: 600px;
  height: 350px;
}
.prompt-div {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
#play-div {
  display: flex;
  justify-content: center;
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  #main {
    display: flex;
    width: 70%;
    align-items: center;
    margin-left: 10px;
    flex-direction: column;
    min-height: 90vh;
  }
  #poke-logo {
    width: 70%;
    margin-left: 30px;
    margin-bottom: 10px;
  }
  .prof-img {
    height: 300px;
    width: 300px;
    margin-right: 10px;
  }
  .welcome-img {
    width: 75vw;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .greeting-img {
    padding-top: 20px;
    margin-left: 30px;
    width: 90%;
    height: 250px;
    margin-bottom: 15px;
  }
  .intro-img {
    width: 350px;
    height: 100px;
    margin-top: 15px;
    margin-right: 50px;
    padding-bottom: 15px;
    padding-left: 100px;
  }

  footer {
    background-color: #ffcc03;
    text-align: center;
    width: 97.2%;
    padding: 5px;
  }
  #click-here {
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  div button {
    margin-left: 110px;
  }

  .rules {
    width: 50%;
    height: 30%;
    padding-bottom: 20px;
    margin-right: 0px;
    margin-left: 70px;
  }

  .rules-prompt {
    width: 95%;
    height: 100%;
    margin-left: 70px;
    padding-bottom: 10px;
  }
  .prompt-div {
    padding-bottom: 10px;
  }
  #play-div {
    margin-right: 30px;
  }
}
@media (min-width: 1024px) and (max-width: 1366px) {
  body {
    height: 100vh;
  }
  #main {
    min-height: 100vh;
  }
  #poke-logo {
    width: 70%;
    margin-left: 30px;
    margin-bottom: 10px;
  }
  footer {
    width: 98%;
    height: 10px;
  }

  .prof-img {
    height: 400px;
    width: 400px;
  }
  /* This is belongs to https://revaryk.wordpress.com/2017/01/12/why-professor-kukui-is-awesome/ */
  .welcome-img {
    margin-left: 25%;
    margin-bottom: 70px;
    width: 50%;
    height: 72px;
  }
  .greeting-img {
    width: 300px;
    /* margin-bottom: 50px; */
  }
  .intro-img {
    width: 600px;
    height: 150px;
    margin-top: 20px;
    margin-left: 35%;
    margin-bottom: 20px;
  }
  .button-div {
    display: flex;
    justify-content: center;
    margin-left: 30%;
  }
}
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  .welcome-img {
    margin-left: 10%;
    margin-bottom: 30px;
    width: 300px;
    height: 72px;
    padding: 10px 10px;
  }
  .intro-img {
    width: 80vw;
    height: 200px;
    margin: 0px auto;
    margin-top: unset;
    margin-left: 10%;
    object-fit: contain;
  }

  .greeting-img {
    width: 270px;
    height: 250px;
    margin-left: 50px;
    margin-bottom: 0px;
  }

  .button-div {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    margin-left: 35px;
  }

  .rules-prompt {
    width: 400px;
    height: 300px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .welcome-img {
    margin-left: 15%;
  }
}
